.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
}

.dark-mode {
  background-color: #333;
  color: white;
}

.light-mode {
  background-color: #f0f0f0;
  color: #333;
}

.toggle-button {
  background-color: #262535;
  color: rgb(134, 93, 93);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.toggle-button:hover {
  opacity: 0.8;
}

.main-content {
  padding: 20px;
}

.dark-background {
  background-color: #444;
}

.light-background {
  background-color: #fff;
}
